# sublime text
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-workspace
sftp-config.json

# jekyll
_drafts/
_site/
.sass-cache/
.jekyll-metadata

# rubygems
.bundle/
vendor/

# custom
*.bat
/blog/_posts/.obsidian/*
/blog/_posts/Template/*
/blog/_posts/.trash/*
.gitignore